* {   
    font-family: Courier, monospace;
    margin: 0;
    max-width: 100%;
    
}

.header {
    z-index: 1; 
    background-color: black; 
    position: fixed;
    width: 100%;
    height: 50px;
}

.logo{
    font-family: 'Pacifico', cursive;
    font-size: 35px;
    text-align: right;
    color: white;
    position: absolute;
    text-decoration: none;
    margin-top: -5px;
    margin-left: 10px;
}

.contact {
    text-align: center;
    margin-top: 20px;
    padding-left: 100px;
    padding-right: 100px;
    padding-top: 150px;
    padding-bottom: 170px;
    
} 

.links{
    text-align: right;
    color: white;
    padding-right: 50px;
    padding-top: 15px;
}

.linksheader {
    text-decoration: none;
    color: white;
}

#myVideo { 
    right: 0;
    bottom: 0;
    min-width: 100%; 
    min-height: 100%;   
}

.begin_boks {
    text-align: center;
    color: white;
    margin: 0;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}


h1 {
    font-family: 'Pacifico', cursive;
    font-size: 80px;
    color: #ff75f8;
    
}

.intro_tekst{
    margin-top: 100px;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;
}

.mijnProjectenTitel {
    padding-top: 20px; 
    padding-bottom: 20px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 50px;
    margin-top: -10px;
    background-color: lightgrey;
    color: white; 

}

.designTitel{
    padding-top: 20px; 
    padding-bottom: 20px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 50px;
    margin-top: 1300px;
    background-color: lightgrey;
    color: white; 
} 

.contactTitel{
    padding-top: 20px; 
    padding-bottom: 20px;
    font-family: 'Pacifico', cursive;
    text-align: center;
    font-size: 50px;
    margin-top: 20px;
 
    background-color: lightgrey;
    color: white; 

}

.imgId{
    height: 90%;
    width: 90%;
    margin-top: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}


.tekstVictor, .titelVictor{
    margin-left: 5%;
    margin-right: 5%;
}


.beginCase, .case, .case2, .case3{   
    margin-top: 50px;
    position: absolute;
    margin-left: 10%;
    margin-right: 10%;     
}

.beginCase {
    margin-bottom: 20x;
}

.case{ 
    margin-top: 400px;
}

.case2{ 
    margin-top: 700px;

}

.case3{ 
    margin-top: 1000px;
    margin-bottom: 20px;
}



#queerBeerVideo,#foundationVideo, #horecaVideo, #capVideo {
    height: 50%;
    width: 50%; 
    float: left; 
    padding: 10px;
    padding-right: 20px;
}

.caseTekst{
    text-align: left; 
}

.designCase{
    margin-left: 20%;
    margin-right: 20%;  
} 

.headerVictor {
    background-color: #76B4E3;
}

.victorImgHeader{
    display: block;
    margin-left: auto;
    margin-right: auto;
    height: 30%;
    width: 30%;

}


.caseTekst{
    padding: 20px;
}

.link_case{
    text-decoration: none;
    color: black;
}

button {
    border: none;
    background: none;
    padding: 0;
    font-size: 16px;
}

a{
    cursor: pointer;
}

a:hover{
    color: #ff75f8;
} 

button:hover {
    color: #ff75f8;
} 


@media only screen and (max-width: 1050px) {
    h1{ font-size: 50px; }

    h2 { font-size: 20px; }

    .beginCase, .case, .case2, .case3{   
    position:  relative;
    }

    #queerBeerVideo,#foundationVideo, #horecaVideo, #capVideo {
    height: 80%;
    width: 80%; 
    float: none;
    margin-bottom: 20x;    
    }

    .caseTekst{
    margin-bottom: 30px;
    }

    .beginCase {
        margin-bottom: 0px;
    }
    
    .case, .case2, .case3, .designTitel{ 
        margin-top: 0px;  
    }


    
}

@media only screen and (max-width: 800px) {
    body{
        background-color: red;
    }

    .begin_boks{
        margin-top: -80px;
    }

    .mijnProjectenTitel, .designTitel, .contactTitel {
        font-size: 30px;
    }
} 


@media only screen and (max-width: 700px) {

    h1{ font-size: 30px; }

    h2 { font-size: 10px; }

    .begin_boks{
        margin-top: -140px;
    }

    .links{
        font-size: 10px; 

    }

    .logo {
        margin-top: 10px;
        font-size: 15px;  
    }

    body{
        background-color: purple;
    }

    .caseTekst{
        font-size: 20px; 
    }

    .begin_boks {
        width: 100%; 
    }

} 


